{% extends "layouts/base.html" %}
{% set project = "Home" %}

{% block body %}
    <!-- Start of body content specific to page -->
    <div class="px-5 py-5 mx-auto">
        <h1 class="text-white"><strong>Python Home Page</strong></h1>
        <div class="row">
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/python.jpeg') }}" alt="Python Development" height="250">
                    <div class="card-body">
                    <h5 class="card-title">Basketball <mark>things about Samarth Kalnake</mark>.</h5>
                    <p class="card-body">
                        <ol>
                            <li>Samarth Kalanke loves to play basketball and loves the game in general</li>
                            <li>Samarth Kalanke plays the positions the 4 or the 5 in basketball</li>
                            <li>Samarth Kalanke has played many differnt clubs in the past</li>
                        </ol>
                    </p>
                    <a href="#" class="btn btn-primary" url="https://samarthkalanke.github.io/SamarthKalanke/">Samarth Github</a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/flask.png') }}" alt="Flask Development" height="250">
                    <div class="card-body">
                    <h5 class="card-title">Things about Samarth Kalanke  <mark>Anime</mark>.</h5>
                    <p class="card-body">
                        <ol>
                            <li>Samarth Kalnake's favorite animes are HunterXHunter, Demon Slayer, Death Note, Pokemon and Haikyuu.</li>
                            <li>He is a little new to the anime world.</li>
                            <li>Samarth Kalanke has started to apreciate japenese language and culture more because of anime</li>
                        </ol>
                    </p>
                    <a href="#" class="btn btn-primary" url="https://samarthkalanke.github.io/SamarthKalanke/">Samarth Github</a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/pythondb.png') }}" alt="Backend and Persistence" height="250">
                    <div class="card-body">
                    <h5 class="card-title">Things about Samarth Kalanke <mark>Volleyball</mark>.</h5>
                    <p class="card-text">
                        <ol>
                            <li>Volleyball is one of Samarth's newer hobbies.</li>
                            <li>His main position is middle blocker.</li>
                            <li>Because of this he is spent a lot of time with hitting, blocking and positioning but is trying to be more all around now.</li>
                        </ol>
                    </p>
                    <a href="#" class="btn btn-primary" url="https://samarthkalanke.github.io/SamarthKalanke/">Samarth Github</a>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
{% endblock %}